
body.container {
    Font-Family: 'Catamaran', Sans-Serif;
    Font-Size: 16px;
}

#navigation {
    background-color:#1f2428;
    padding-top:5px;
    margin-bottom:0px;
    border:none;
}

#logo {
    Font-Family: 'Lato', Sans-Serif;
    color:#54636f;
    Font-Size: 30px;
    font-style:italic;
    display:inline;
    padding-right:30px;
}

#paris {
    display:flex;
    height:350px;
    width:100%;
    margin-top:0px;
    background: url("../images/paris2.jpg") no-repeat center;
}

#paris h1 {
    color:white;
    padding-top:5rem;
    width:100%;
    text-align:center;
}

#schrecksee {
    display:flex;
    height:340px;
    width:100%;
    background: url("../images/schrecksee.jpg") center center no-repeat;;
}

#copy-container {
    padding-top:4rem;
    background-color: #54636f;
    color:white;
    height:300px;
    width:100%;
}


.nav-links {
    float:right;
    padding-right:20px;
}

.btn {
    margin-left:10px;
}

nav a:hover {
  text-decoration:none;
}

nav .btn:hover {
  background-color:white;
  border-color:black;
}

.compare-view {
    border-right:1px solid grey;
    height:100%;
}

#trip-info {
    height:100%;
}

td a:hover {
    text-decoration:none;
    color:purple;
}

button a:hover {
    text-decoration:none;
    color:purple;
}

.error {
color:red;
}
