<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <title th:text="${title}">My Trip Planner</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div th:fragment="navigation" class="jumbotron">
    <h1 class="text-center">My Trip Planner</h1>
    <nav>
        <a href="/vacation/">Home</a> |
        <a href="/vacation/mytrips">My Trips</a> |
        <a href="/vacation/add">New Trip</a> |
        <!--
        todo collapse the two nav items into one depending on if the user is logged in or not
        -->
        <a href="/vacation/user/login">Log In</a> |
        <a href="/vacation/user/logout">Log Out</a>
    </nav>
</div>
<div th:fragment="trip-info">
<div class="row">
    <h1 class="col-sm-4" th:text="${trip.name}"></h1>
    <h3 class="col-sm-4"><span th:text="${trip.lengthNight}"></span><span> Nights</span></h3>
</div>
<div class="row">
    <h3 class="col-sm-8" th:text="${trip.description}"></h3>
</div>
</div>
</body>
</html>