<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <BASE href="http://localhost:8080/vacation/"/>
    <title th:text="${title}">My Trip Planner</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato:400i" rel="stylesheet"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/login-getter.js"></script>


</head>
<body>
<div th:fragment="navigation">
    <nav id="navigation" class="container navbar navbar-default navbar-fixed-static">

            <h5 id="logo">My Trip Planner</h5>
        <div class="nav-links">
            <button type="button" class="btn btn-default navbar-btn"><a href="/vacation/" >Home</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a href="/vacation/mytrips" >My Trips</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a href="/vacation/add" >New Trip</a></button>
            <button type="button" id="login" class="btn btn-default navbar-btn"><a href="/vacation/user/login">Log In</a></button>
            <button type="button" id="logout" class="btn btn-default navbar-btn"><a href="/vacation/user/logout">Log Out</a></button>
        </div>
    </nav>

</div>

<!-- trip-info  -->
<div id="trip-info" th:fragment="trip-info">
    <div class="row">
        <h1 class="col-sm-4" th:text="${trip.name}"></h1>
        <h3 class="col-sm-4"><span th:text="${trip.lengthNight}"></span><span> Nights</span></h3>
    </div>
    <div class="row">
        <h3 class="col-sm-4" th:text="${trip.description}"></h3>
        <h3 class="col-sm-4" th:text="${trip.getBudget()}"></h3>
    </div>
</div>

<!-- activities -->
<div id="activities" th:fragment="activities">
    <h2>Activities</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        <tr th:each="point : ${trip.interests}">
            <td th:text="${point.name}"></td>
            <td th:text="${point.description}"></td>
            <td th:text="${point.cost}"></td>
            <td th:text="${point.address}"></td>
            <td th:text="${point.phone}"></td>
        </tr>
    </table>
</div>





</body>
</html>