<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <BASE href="http://localhost:8080/vacation/"/>
    <title>My Trip Planner</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lato:400i" rel="stylesheet"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>


</head>
<body>
<div th:fragment="navigation">
    <nav id="navigation" class="navbar navbar-default navbar-fixed-static">

            <h5 id="logo">My Trip Planner</h5>
        <div class="nav-links">
            <button type="button" class="btn btn-default navbar-btn"><a href="" >Home</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a href="mytrips" >My Trips</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a href="mytrips/add" >New Trip</a></button>

            <button th:if="${session.id}" type="button" class="btn btn-default navbar-btn"><a id="account" th:href="@{user/account/{id}(id=${session.id})}">My Account</a></button>

            <button th:unless="${session.id}" type="button" id="login" class="btn btn-default navbar-btn"><a href="user/login">Log In</a></button>
            <button th:if="${session.id}" type="button" id="logout" class="btn btn-default navbar-btn"><a href="user/logout">Log Out</a></button>
        </div>
    </nav>

</div>

<!-- trip-info  -->
<div id="trip-info" th:fragment="trip-info">
    <div class="row">
        <h1 class="col-sm-4" th:text="${trip.name}"></h1>
        <h3 class="col-sm-4"><span th:text="${trip.lengthNight}"></span><span> Nights</span></h3>
    </div>
    <div class="row">
        <h3 class="col-sm-4" th:text="${trip.description}"></h3>
        <h3 class="col-sm-4" th:text="${trip.getBudget()}"></h3>
    </div>
    <div class="row">
        <h3 class="col-sm-4" th:text="${trip.location}"></h3>
        <h3 class="col-sm-4" th:text="${trip.distance}"></h3>
    </div>
</div>

<!-- activities -->
<div id="activities" th:fragment="activities">
    <h2>Activities</h2>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        <tr th:each="point : ${trip.interests}">
            <td th:text="${point.name}"></td>
            <td th:text="${point.description}"></td>
            <td th:text="${point.cost}"></td>
            <td th:text="${point.address}"></td>
            <td th:text="${point.phone}"></td>
        </tr>
    </table>
</div>

<div class="trip-index" th:fragment="trips-loggedIn">
    <p th:unless="${trips} and ${trips.size()}">You haven't added any trips. Click below to add an trip.</p>
    <table th:if="${trips.size()}" class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Distance from home</th>
            <th>Number of Nights</th>
            <th>Budget</th>
            <th></th>
        </tr>
        <tr th:each="trip : ${trips}">
            <td><a  th:text="${trip.name}" th:href="@{trip/{id}(id=${trip.id})}"></a></td>
            <td th:text="${trip.description}"></td>
            <td th:text="${trip.distance}"></td>
            <td th:text="${trip.lengthNight}"></td>
            <td th:text="${trip.getBudget()}"></td>
            <td><a th:href="@{edit/{id}(id=${trip.id})}" >Edit</a></td>
        </tr>
    </table>
</div>



</body>
</html>