<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<div th:replace="fragments :: trip-info"></div>

<h4 th:text="${title}">Default Title</h4>

<form method="post" th:object="${point}">
    <div class="form-group row">
    <div class="col-sm-6">
        <label th:for="name">Activity</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="col-sm-6">
        <label th:for="cost">Cost</label>
        <input class="form-control" th:field="*{cost}" />
        <span th:errors="*{cost}" class="error"></span>
    </div>
    </div>
    <div class="form-group row">
    <div class="col-sm-6">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}" />
        <span th:errors="*{address}" class="error"></span>
    </div>
    <div class="col-sm-6">
        <label th:for="phone">Phone Number</label>
        <input class="form-control" th:field="*{phone}" />
        <span th:errors="*{phone}" class="error"></span>
    </div>
    </div>

    <div class="form-group">
        <label th:for="description">Notes</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>


    <input type="submit" value="Add Point of Interest" />
</form>

</body>
</html>