<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>
<form method="post" th:object="${trip}">

    <div class="row form-group">
        <div class="col-sm-6">
            <label th:for="name">Trip Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="col-sm-6">
            <label th:for="description">Trip Description</label>
            <input class="form-control" th:field="*{description}" />
            <span th:errors="*{description}" class="error"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label th:for="lengthNight">Number of Nights</label>
            <input class="form-control" th:field="*{lengthNight}" />
            <span th:errors="*{lengthNight}" class="error"></span>
        </div>
        <div class="col-sm-6">
            <label th:for="location">Location</label>
            <input class="form-control" th:field="*{location}" />
            <span th:errors="*{location}" class="error"></span>
        </div>
    </div>

    <input type="submit" value="Edit Trip" />
</form>


</body>
</html>