<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<div id="paris">
    <h1 class="text-center">Ready to Plan Your Next Adventure?</h1>
</div>

<div id="copy-container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>Planning a family vacation? Can't decide where to go next? You've come to the right place. Click <a href="user/signup">here</a> to get started!</h3>
    </div>
</div>

<div id="schrecksee"></div>

</body>
</html>