<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>
<div class="row">
    <h1 class="col-sm-8" th:text="${title}">Default Title</h1>
</div>

<div th:replace="fragments :: trips-loggedIn"></div>


<button><a th:href="@{mytrips/add}">Add Trip</a></button>
<button th:if="${trips.size()}"><a th:href="@{mytrips/remove}">Remove Trip(s)</a></button>
<button th:if="${trips.size() > 1}"><a th:href="@{mytrips/compare}">Compare Trips</a></button>

</body>
</html>