<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

    <div th:replace="fragments :: navigation"></div>
    <!--<h1 th:text="${title}">Default Title</h1> -->
    <div class="content">
    <div th:replace="fragments :: trip-info"></div>
    <p><a th:href="@{/vacation/edit/{id}(id=${trip.id})}" >Edit</a></p>
    <div th:unless="${trip.interests.size()}">
        <p>You haven't added any activities for this trip. Click below to add an activity.</p>
    </div>
    <div th:if="${trip.interests.size()}">
        <div th:replace="fragments :: activities"></div>
    </div>
    <button><a th:href="@{/vacation/add-item/{id}(id=${trip.id})}">Add Activity</a></button>
    <button th:if="${trip.interests.size()}"><a th:href="@{/vacation/remove-item/{id}(id=${trip.id})}">Remove Activity</a></button>
    </div>
</body>
</html>